<ion-view title="Closure Tab Default Page">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Closure_Display_Total">
                <span class="input-label">Total:</span>
                <input type="number" placeholder="0,00€">
            </label>
        </form>
        <button class="button button-positive button-block  icon-left ion-printer">Generate the Contributions</button>
        <ion-list>
            <ion-item>Item 1</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>